@charset "UTF-8";
/* CSS Document */

nav img {
	width: 75px;
}

nav{
	margin:10px;
}

input{
	width:100%;
}

img{
	margin:10px;
}

img-hover{
  display: block;
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, #652C90, #3A0256);
}