@charset "UTF-8";
/* CSS Document */


body{
	background-size:cover
}

/*hamburger navigation*/
ul, li {margin:0;padding:0;}
a {text-decoration:none;}

header {
    height:275px;
}

header .container {
    padding:0 5%;
}

nav a{
	margin-top: 60px;
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	font-size:18px;
}

a#logo {
    width:215px;
    height:98px;
    background:#2196f3;
    display:block;
    float:left;
    text-indent:-9999px;
}

nav#navigation {
    height:38px;
    position:relative;
    margin-top: 50px;
    width:65%;
}

nav#navigation .nav-trigger {
    display:none;
    position:absolute;
    top:0;
    right:0;
    width:45px;
    height:40px;
    background:#9fd9d8;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    z-index:11;
    cursor:pointer;
}

nav#navigation ul li {
    float:left;
    list-style:none;
    text-align:center;
    width:15%;
    margin-left:1%;
}

nav#navigation ul li a {
    text-align:center;
    display:block;
    color:#073255;
    padding:10px 0;
    border-radius:5px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}

nav#navigation ul li.current a {
    background:#CCC;
    color:#FFF;
}

nav#navigation ul li a:hover {
    color:#9fd9d8;
}

nav img, .ap-logo img {
	width: 100px;
	margin-top:-60px;
}

nav{
	margin:10px;	
}
/*end of nav*/

.row{
	max-width: 70em;
}

/*color*/
h1{
	color:#006a91;
	font-size:60px;
	margin:20px;
	font-weight:200;
}

h2{
	color:#006a91;
	font-size:50px;
}

h3, h4{
	color:#FFFFFF;
}

h5, h6, p{
	color:#073255;
}

ul{
	color:#9fd9d8;
}

/*<!--type-->*/
h1, h2, h3, h4, h5, h6, p{
	font-family: 'Raleway', sans-serif;
}

p{
	font-size:18px;
	line-height:30px;
	font-weight:100;
}

h4{
	font-weight:100;
	margin-top:2px;
}

h5{
	font-size:18px;
}

.about{
	margin-top: 120px;
}

.contact{
	margin-top: 85px;
}

.about p{
	margin-top: 20px;
	margin-bottom:20px;
}

.contact p, .contact-form{
	margin-top:35px;
}
	
input{
	width:100%;
}

img-hover{
  display: block;
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, #652C90, #3A0256);
}


/*<!--image hover-->*/
.overlay {
  width: auto;
  height: auto;
  position: relative;
  margin-top:25px;
  -webkit-transition: all 0.2s;
}

.overlay img {
  -webkit-transition: all 0.2s;
}

.overlay .magnifier {
  display: block;
  background: rgba(0,106,145,0.8);
  position: absolute;
  text-align: center;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  opacity: 0;
  transform: scale(1);
  background-blend-mode:multiply;
}

.overlay:hover .magnifier {
  opacity:2; 
  transform: scale(1);

  visibility: visible;
}

.overlay .magnifier .content {
  width:100%;
  position: relative;
  top: 50%;
  margin-top: 10px;
}
/*end of image hover*/

/*social media icons*/
.social-media-icons li{
	list-style: none;
	display: inline;
	width:50px;
	float:left;
	margin-right:15px;
	margin-top:35px;
}

.social-media-icons a: hover{
	background-image:url(../images/social-icon-facebook-hover.svg);
}

/*skills media icons*/
.skills-icon{
	width:800px;
	align-content:center;
	margin-top:85px;
}

.skills-icon p{
	font-size:22px;
	font-weight:400;
	color:#97c641;
}

/*contact form*/
input[type="text"], input[type="email"], textarea {
	border-color:#97c641;
	border-width:1.5px;
	box-shadow:none;
}
::-webkit-input-placeholder {
   color: #006a91;
}

:-moz-placeholder { /* Firefox 18- */
   color: #006a91;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #006a91;  
}

:-ms-input-placeholder {  
   color: #006a91;  
}

.message-input input{
	padding-top:20px;
	padding-bottom:100px;
}

/*end of contact form*/
.button{
	background-image:url(../images/button-boarder.svg);
	background-color:#FFFFFF;
	border-color:#FFFFFF;
	padding-right: 0;
	padding-left:0;
	background-repeat:no-repeat;
	background-size:100%;
	color:#97c641;
	height:50px;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color:#97c641;	
	color:#FFFFFF;
	border-color:#FFFFFF;
}

.button.radius{
	border-radius: 0;
}

.footer{
	margin-top:80px;
	margin-bottom:25px;
	text-align:center;
}

.info p{
	color:#073255;
}

.info p:hover{
	color:#9fd9d8;
}

/*project page */
.project-page-headings h1{
	font-size:45px;
	line-height:50px;
	color:#97c641;
	margin: 0;
	font-weight:400;
}

.project-page-headings h2{
	font-size:35px;
	line-height:40px;
	font-weight:300;
}

.project-page-headings p{
	font-size:16px;
	line-height:33px;
}

.project-page-headings{
	margin-left:10px;
}

.project-page img{
	margin-top:28px;	
}

.project-page-buttons{
	margin-top: 125px;
	margin-bottom:120px;
}

.project-page-buttons img{
	width:100%;
}

.project-page-buttons h5{
	font-weight:600;
	color:#97c641;
	font-size:18px;
}
/*end of project page */




@media only screen and (max-width : 1025px) {

.row{
	max-width:50em;
}

header {
    height:100px;
}

.ap-logo{
	margin-bottom:60px;
	margin-top:60px;
}

/*nav*/

nav a{
	margin-top: 20px;
}
nav#navigation {
    position:absolute;
	width:87.55%;
	position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

nav#navigation .nav-trigger {
    display:block;
}

nav#navigation .nav-trigger span {
    position:absolute;
    display:block;
    width:20px;
    height:2px;
    background:#FFF;
    top:18px;
    left:50%;
    margin-left:-10px;
    -webkit-transition:background .5s;
    -moz-transition:background .5s;
    transition:background .5s;
}

nav#navigation .nav-trigger span::before,.nav-trigger span::after {
    content:'';
    position:absolute;
    left:0;
    background:inherit;
    width:100%;
    height:100%;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}

nav#navigation .nav-trigger span::before {
    top:-6px;
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}

nav#navigation .nav-trigger span::after {
    bottom:-6px;
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}

nav#navigation .nav-trigger.open span {
    background:rgba(255,255,255,0);
}

nav#navigation .nav-trigger.open span::before,.nav-trigger.open span::after {
    background:#FFFFF;
}

nav#navigation .nav-trigger.open span::before {
    top:0;
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
}

nav#navigation .nav-trigger.open span::after {
    bottom:0;
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transform:rotate(225deg);
}

nav#navigation ul {
    width:88.2%;
    position:absolute;
    right:0;
    top:38px;
    background:#9fd9d8;
    visibility:hidden;
    z-index:50;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transform-origin:100% 0;
    -moz-transform-origin:100% 0;
    -ms-transform-origin:100% 0;
    -o-transform-origin:100% 0;
    transform-origin:100% 0;
    -webkit-transition:-webkit-transform 0.5s,visibility 0 .5s;
    -moz-transition:-webkit-transform 0.5s,visibility 0 .5s;
    transition:-webkit-transform 0.5s,visibility 0 .5s;
}

nav#navigation ul.is-visible {
    visibility:visible;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:-webkit-transform 0.5s,visibility 0 0;
    -moz-transition:-moz-transform 0.5s,visibility 0 0;
    transition:transform 0.5s,visibility 0 0;
}

nav#navigation ul.is-visible li a {
    visibility:visible;
}

nav#navigation ul li {
    width:50%;
    margin:0;
}

nav#navigation ul li a {
    width:100%;
    padding:10px 0;
    color:#FFF;
    visibility:hidden;
    border-radius:0;
}

nav#navigation ul li a:hover {
    border:0;
	color:#073255;
}

nav#navigation ul li.last a {
    background:none;
    border:0;
    display:block;
    padding:15px 0;
    color:#FFF;
    font-size:.8em;
}

nav#navigation ul li.last a:hover {
    border:0;
}
/*end of nav*/	

h1{
	font-size:50px;
	margin-top:10px;
}

h2{
	font-size:35pt;
	margin-top:8px;
}

h4{
	font-weight:200;
}

h5{
	font-size:14pt;
}

p{
	font-size:14px;
}

.about, .contact{
	margin-top: 50px;
}

.about p{
	margin-top: 15px;
	margin-bottom:15px;
}

.contact p, .contact-form,{
	margin-top:15px;
}

/*skills media icons*/
.skills-icon{
	width:600px;
	margin-top:25px;
}

.skills-icon p{
	font-size:20px;
}

/*social media icons*/
.social-media-icons li{
	width:50px;
	margin-right:5px;
	margin-top:10px;
}

.footer{
	margin-top:50px;
	margin-bottom:18px;
}


/*project page*/
.project-page-headings h1{
	font-size:30px;
	line-height:38px;
}

.project-page-headings h2{
	font-size:20pt;
	line-height:20pt;
	font-weight:300;
}
	

}

@media only screen and (max-width : 640px) {
	
	header {
    height:130px;
}

.row{
	max-width:50em;
}

.ap-logo{
	margin-bottom:40px;
	margin-top:75px;
}

.project-ap-logo{
	margin-top:40px;
}

nav#navigation ul li {
    width:100%;
}

h1, h2, h3, h4, h5, h6, p{
	margin-left:30px;
	margin-right:30px;
}

h1{
	font-size:35px;
	margin-top:10px;
	line-height:45px;
}

h2{
	font-size:30px;
	margin-top:8px;
	
}

.overlay{
	margin-top:10px;
}

/*skills media icons*/
.skills-icon{
	width:500px;
	margin-top:25px;
}

.skills-icon p{
	font-size:18px;
}

.social-media-icons li{
	width:60px;
	margin-right:10px;
	margin-top:10px;
}

.footer p{
	margin:5px;
}


  div.small-12.columns.show-for-small-only{
    margin-top:-94px;
    background-color:rgba(0, 106, 145, 0.85);}

  div.small-12.columns.show-for-small-only img{
    width:4%;
    margin:0% 4% 3% 4%;}

}


@media screen and (min-width:0\0) {
/* IE9 and IE10 rule sets go here */

.project-page a{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#006a91;
  background-image:url('');
  background-size:100%;
  color:#FFF;
  visibility:hidden;
  text-decoration:none;
  transition:transform 1s;}
]
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {

.project-page a{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#056b73;
  background-image:url('');
  background-size:100%;
  color:#FFF;
  visibility:hidden;
  text-decoration:none;
  transition:transform 1s;}
}
